**
!LICENSE
!README.md
!pyproject.toml
!src/
!src/**
!configs/
!configs/**
!docs/
!docs/research/
!docs/research/campaign-2-prospective-factor-plan.md
!docs/research/campaign-2-prospective-factor-v2.md
